/*! reset styles */
@import url(reset.css);

/*? general styles */
body {
  font-family: serif;
}

/* !wrapper */

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 830px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
